<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pmo.dashboard.dao.CommonMenuMapper" >
  <resultMap id="BaseResultMap" type="com.pmo.dashboard.entity.CommonMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="menuid" property="menuid" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_status" property="menuStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getTopMenu" resultMap="BaseResultMap" parameterType="com.pmo.dashboard.entity.CommonMenu" >
    select * from t_common_menu t where t.parentid is null and t.menu_status = '1'
  </select>
  
  <select id="getChildMenu" resultMap="BaseResultMap" parameterType="com.pmo.dashboard.entity.CommonMenu" >
    select * from t_common_menu t 
    where 1=1
    <if test="parentid != null and parentid !=''" >
       and parentid=#{parentid}
    </if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_common_menu
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.pmo.dashboard.entity.CommonMenu" >
    insert into t_common_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="menuid != null" >
        menuid,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuStatus != null" >
        menu_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuStatus != null" >
        #{menuStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.pmo.dashboard.entity.CommonMenu" >
    update t_common_menu
    <set >
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null" >
        menuid = #{menuid,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuStatus != null" >
        menu_status = #{menuStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>