<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pmo.dashboard.dao.EmployeeTurnoverRecordMapper" >
  <resultMap id="BaseResultMap" type="com.pmo.dashboard.entity.EmployeeTurnoverRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EmployeeID" property="employeeid" jdbcType="VARCHAR" />
    <result column="Ehr" property="ehr" jdbcType="VARCHAR" />
    <result column="StaffName" property="staffname" jdbcType="VARCHAR" />
    <result column="StaffID" property="staffid" jdbcType="VARCHAR" />
    <result column="Lob" property="lob" jdbcType="VARCHAR" />
    <result column="OldDepartMent" property="olddepartment" jdbcType="VARCHAR" />
    <result column="NewDepartMent" property="newdepartment" jdbcType="VARCHAR" />
    <result column="ApprovalDate" property="approvaldate" jdbcType="TIMESTAMP" />
    <result column="ApplicationDate" property="applicationdate" jdbcType="TIMESTAMP" />
    <result column="Applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="ApprovalID" property="approvalid" jdbcType="VARCHAR" />
    <result column="NewRM" property="newRM" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EmployeeID, Ehr, StaffName, StaffID, Lob, OldDepartMent, NewDepartMent, ApprovalDate, 
    ApplicationDate, Applicant, ApprovalID, NewRM, State
  </sql>
  <select id="queryList" resultMap="BaseResultMap" parameterType="com.pmo.dashboard.entity.EmployeeTurnoverRecord" >
    select * from t_staffmovement_record where 1=1
    <if test="ehr != null and ehr != ''" >
        and Ehr=#{ehr}
    </if>
    <if test="lob != null and lob != ''" >
        and Lob=#{lob}
    </if>
	<if test="staffid != null and staffid !=''" >
        and StaffID=#{staffid}
     </if>
     <if test="staffname != null and staffname !=''" >
        and StaffName LIKE '%${staffname}%' 
     </if>
    <if test="olddepartment != null and olddepartment !=''" >
        and OldDepartMent=#{olddepartment}
    </if>
    <if test="newdepartment != null and newdepartment != ''" >
        and NewDepartMent=#{newdepartment}
    </if>
    <if test="applicant != null and applicant !='' " >
        and Applicant=#{applicant}
    </if>
    <if test="approvalid != null and approvalid != ''" >
        and ApprovalID=#{approvalid}
    </if>
    <if test="newRM != null and newRM != ''" >
        and NewRM=#{newRM}
      </if>
    <if test="state != null and state !=''" >
        and State=#{state}
    </if>
    order by ApplicationDate desc
  </select>
   <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	select * from t_staffmovement_record where ID=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_staffmovement_record
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.pmo.dashboard.entity.EmployeeTurnoverRecord" >
    insert into t_staffmovement_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="employeeid != null" >
        EmployeeID,
      </if>
      <if test="ehr != null" >
        Ehr,
      </if>
      <if test="staffname != null" >
        StaffName,
      </if>
      <if test="staffid != null" >
        StaffID,
      </if>
      <if test="lob != null" >
        Lob,
      </if>
      <if test="olddepartment != null" >
        OldDepartMent,
      </if>
      <if test="newdepartment != null" >
        NewDepartMent,
      </if>
      <if test="approvaldate != null" >
        ApprovalDate,
      </if>
      <if test="applicationdate != null" >
        ApplicationDate,
      </if>
      <if test="applicant != null" >
        Applicant,
      </if>
      <if test="approvalid != null" >
        ApprovalID,
      </if>
      <if test="newRM != null" >
        NewRM,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeid != null" >
        #{employeeid,jdbcType=VARCHAR},
      </if>
      <if test="ehr != null" >
        #{ehr,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null" >
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="lob != null" >
        #{lob,jdbcType=VARCHAR},
      </if>
      <if test="olddepartment != null" >
        #{olddepartment,jdbcType=VARCHAR},
      </if>
      <if test="newdepartment != null" >
        #{newdepartment,jdbcType=VARCHAR},
      </if>
      <if test="approvaldate != null" >
        #{approvaldate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationdate != null" >
        #{applicationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="approvalid != null" >
        #{approvalid,jdbcType=VARCHAR},
      </if>
      <if test="newRM != null" >
        #{newRM,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pmo.dashboard.entity.EmployeeTurnoverRecord" >
    update t_staffmovement_record
    <set >
      <if test="ehr != null" >
        Ehr = #{ehr,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        StaffName = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null" >
        StaffID = #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="lob != null" >
        Lob = #{lob,jdbcType=VARCHAR},
      </if>
      <if test="olddepartment != null" >
        OldDepartMent = #{olddepartment,jdbcType=VARCHAR},
      </if>
      <if test="newdepartment != null" >
        NewDepartMent = #{newdepartment,jdbcType=VARCHAR},
      </if>
      <if test="approvaldate != null" >
        ApprovalDate = #{approvaldate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationdate != null" >
        ApplicationDate = #{applicationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicant != null" >
        Applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="approvalid != null" >
        ApprovalID = #{approvalid,jdbcType=VARCHAR},
      </if>
       <if test="newRM != null" >
        NewRM = #{newRM,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>