<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pmo.dashboard.dao.ProcessTypeMapper" >
  <resultMap id="BaseResultMap" type="com.pmo.dashboard.entity.ProcessType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="process" property="process" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectProType" resultType="com.pmo.dashboard.entity.ProcessType" parameterType="com.pmo.dashboard.entity.ProcessType" >
    select * from t_processtype
    where 1=1
    <if test="id != null and id != ''" >
       and id=#{id}
    </if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_processtype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.pmo.dashboard.entity.ProcessType" >
    insert into t_processtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.pmo.dashboard.entity.ProcessType" >
    update t_processtype
    <set >
      <if test="process != null" >
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>