.form-group {
	min-height: 70px;
}
/*bootstrap table样式*/
.table {
	table-layout: fixed;
}

.table td {
	word-wrap: break-word;
}

.table>thead>tr>th {
	word-wrap: break-word;
	text-align: center !important;
	vertical-align: middle !important;
}

.table>tbody>tr>td {
	word-wrap: break-word;
	text-align: center !important;
	vertical-align: middle !important;
}

a.link {
	color: #555;
	text-decoration: none;
}

a.link:hover {
	color: #555;
	text-decoration: none;
}
/**end**/